.container {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
}

.desc {
  font-size: 24px;
  columns: #444;
  width: 70%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .title {
    text-align: center;
  }
  .desc {
    width: 90%;
    text-align: center;
  }
}
