.container {
  width: 22%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #fcfcfc;
}
.title {
  font-size: 18px;
  font-weight: bold;
  color: #540000;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}

.desc {
  text-align: center;
  color: #777;
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .title {
    font-size: 30px;
  }
  .price,
  .desc {
    font-size: 24;
  }
}
